@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: Outfit;
}

select,input,textarea{
    border-radius: 4px;
    border: 1px solid #99edc3 ;
    outline-color: green ;
}

.active {
    background-color: #99edc3 ;
    border-color: green;
}